<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8">
                    <div class="slider_text text-center justify-content-center">
                        <p>For Personal & Business</p>
                        <!-- <h3>Global Logistic Service For Business</h3> -->
                        <h3>A&S Clearing And Forwarding Solution</h3>
                        <a class="boxed-btn3" [routerLink]="['/service']">Our Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<div class="transportaion_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <!-- <div class="single_transport">
                    <div class="icon">
                        <img src="assets/img/svg_icon/airplane.png" alt="">
                    </div>
                    <h3>Transportation</h3>
                    <p>
                        A&S clearing and Forwading Solution.is the process of planning and executing the efficient transportation and storage of goods from the point of origin to the point of consumption. ensure that the right products are delivered to the right location on
                        time and at a good cost. You may also be involved in transportation, stock control, warehousing and monitoring the flow of goods.
                    </p>
                </div> -->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_transport">
                    <div class="icon">
                        <img src="assets/img/svg_icon/world.png" alt="">
                    </div>
                    <h3>Worldwide Service</h3>
                    <p>Esteem spirit temper too say adieus who direct esteem. It look estee luckily or picture placing drawing.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <!-- <div class="single_transport">
                    <div class="icon">
                        <h1>CHA</h1>
                    </div>
                    <h3>Custom House Agent</h3>
                    <p>Customs clearance is a necessary procedure before goods can be imported or exported internationally. If a shipment is cleared, then the shipper will provide documentation confirming customs duties that are paid and the shipment can
                        be processed. The importer and exporter of the goods should submit valid documents to clear this process. In this article, we look at some of the major steps and processes in clearing customs in India.</p>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-50 text-center">
                    <h3>
                        Services We Offer
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="service_active owl-carousel">
                    <div class="single_service">
                        <div class="thumb">
                            <img src="assets/img/service/1.png" alt="">
                        </div>
                        <div class="service_info">
                            <h3><a [routerLink]="['/servicedetails']">Ocean Freight</a></h3>
                            <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        </div>
                    </div>
                    <div class="single_service">
                        <div class="thumb">
                            <img src="assets/img/service/2.png" alt="">
                        </div>
                        <div class="service_info">
                            <h3><a [routerLink]="['/servicedetails']">Land Transport</a></h3>
                            <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        </div>
                    </div>
                    <div class="single_service">
                        <div class="thumb">
                            <img src="assets/img/service/3.png" alt="">
                        </div>
                        <div class="service_info">
                            <h3><a [routerLink]="['/servicedetails']">Air Freight</a></h3>
                            <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        </div>
                    </div>
                    <div class="single_service">
                        <div class="thumb">
                            <img src="assets/img/service/1.png" alt="">
                        </div>
                        <div class="service_info">
                            <h3><a [routerLink]="['/servicedetails']">Ocean Freight</a></h3>
                            <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- contact_action_area  -->
<div class="contact_action_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-md-6">
                <div class="action_heading">
                    <h3>100% secure and safe</h3>
                    <!-- <p>Esteem spirit temper too say adieus who direct esteem. It look estee luckily or picture placing drawing.</p> -->
                </div>
            </div>
            <div class="col-xl-5 col-md-6">
                <div class="call_add_action">
                    <a href="#" class="boxed-btn3">+91 9967-717-4470</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /contact_action_area  -->
<!-- chose_area  -->
<div class="chose_area ">
    <div class="container">
        <div class="features_main_wrap">
            <div class="row  align-items-center">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div class="about_image">
                        <!-- <img src="assets/img/about/about.png" alt=""> -->
                        <img src="assets/img/about/rosebox-BFdSCxmqvYc-unsplash.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="features_info">
                        <h3>Why Choose Us?</h3>
                        <p>
                            A&S clearing and Forwading Solution is a fast-growing global logistics company based in Mumbai India. we atarted Logistics Company established in the Year 2020 delivering wide range of logistics Services. We're working closely with customers to look at
                            their entire supply chains, from point of origin to the end-consumers, to identify the opportunities.This collaborative approach is a major reason why customers trust us with a variety of value-added services. We run our business
                            as one highly integrated network of people,technology,telecommunication and transportation.
                        </p>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.
                        </p>
                        <ul>
                            <li> Apartments frequently or motionless. </li>
                            <li> Duis aute irure dolor in reprehenderit in voluptate. </li>
                            <li> Voluptatem quia voluptas sit aspernatur.</li>
                        </ul> -->

                        <div class="about_btn">
                            <a class="boxed-btn3-line" [routerLink]="['/about']">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ chose_area  -->

<!-- counter_area  -->
<!--
<div class="counter_area">
    <div class="container">
        <div class="offcan_bg">
            <div class="row">
                <div class="col-xl-3 col-md-3">
                    <div class="single_counter text-center">
                        <h3> <span class="counter">42</span> <span>+</span> </h3>
                        <p>Countries Covered</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_counter text-center">
                        <h3> <span class="counter">97</span> <span>+</span> </h3>
                        <p>Business Success</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_counter text-center">
                        <h3> <span class="counter">2342</span></h3>
                        <p>Happy Client</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_counter text-center">
                        <h3> <span class="counter">3245</span></h3>
                        <p>Business Done</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>-->
<!-- /counter_area  -->

<!-- testimonial_area  -->
<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="single_testmonial text-center">
                            <div class="quote">
                                <img src="assets/img/svg_icon/quote.svg" alt="">
                            </div>
                            <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices.</p>
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="assets/img/case/testmonial.png" alt="">
                                </div>
                                <h3>Robert Thomson</h3>
                                <span>Business Owner</span>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="single_testmonial text-center">
                            <div class="quote">
                                <img src="assets/img/svg_icon/quote.svg" alt="">
                            </div>
                            <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices.</p>
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="assets/img/case/testmonial.png" alt="">
                                </div>
                                <h3>Robert Thomson</h3>
                                <span>Business Owner</span>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="single_testmonial text-center">
                            <div class="quote">
                                <img src="assets/img/svg_icon/quote.svg" alt="">
                            </div>
                            <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices.</p>
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="assets/img/case/testmonial.png" alt="">
                                </div>
                                <h3>Robert Thomson</h3>
                                <span>Business Owner</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->

<!-- Estimate_area start  -->
<!--
<div class="Estimate_area overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-5">
                <div class="Estimate_info">
                    <h3>Get free Estimate</h3>
                    <p>Esteem spirit temper too say adieus who direct esteem. It look estee luckily or picture placing.
                    </p>
                    <a href="#" class="boxed-btn3">+91 9967-717-4470</a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-7">
                <div class="form">
                    <form action="#">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <input type="text" placeholder="Your name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <input type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <select class="wide">
                                            <option data-display="Product type">Product type</option>
                                            <option value="1">small</option>
                                            <option value="2">standard</option>
                                            <option value="3">high</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <select class="wide">
                                            <option data-display="Product size">Product size</option>
                                            <option value="1">M</option>
                                            <option value="2">L</option>
                                            <option value="3">Xl</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <select class="wide">
                                            <option data-display="City of departure">City of departure</option>
                                            <option value="1">departure</option>
                                            <option value="2">departure</option>
                                            <option value="3">departure</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <select class="wide">
                                            <option data-display="Delivery city">City of departure</option>
                                            <option value="1">Delivery</option>
                                            <option value="2">Delivery</option>
                                            <option value="3">Delivery</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input_field">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input_field">
                                    <button class="boxed-btn3-line" type="submit">Send Estimate</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Estimate_area end  -->

<!-- contact_location  -->
<div class="contact_location">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="location_left">
                    <div class="logo">
                        <a [routerLink]="['/home']">
                            <img src="assets/img/aslogo.jpg" alt="">
                        </a>
                        <h4>A&S Clearing And Forwarding Solution</h4>
                    </div>
                    <!-- <ul>
                        <li>
                            <a href="#"> <i class="fa fa-facebook"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-google-plus"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-twitter"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-youtube"></i> </a>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="col-xl-3 col-md-3">
                <div class="single_location">
                    <h3> <img src="assets/img/icon/address.svg" alt=""> Location</h3>
                    <p>Room No. 202, 2nd Floor, Saidham Apartment, Thane-Belapur Road, Vitawa, Koliwada, Kalwa, Thane-400605 Maharashtra, India
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-3">
                <div class="single_location">
                    <h3> <img src="assets/img/icon/support.svg" alt=""> Contact</h3>
                    <p>+91 9967-717-4470 <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>